name: SonarCloud analysis

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  pull-requests: read

jobs:
  sonar-check:
    name: Sonar Check
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: SonarScanner Begin
        run: |
          dotnet tool install --global dotnet-sonarscanner
          echo "$env:USERPROFILE\.dotnet\tools" >> $env:GITHUB_PATH
          dotnet sonarscanner begin `
          /d:sonar.projectKey="kolankoudan-dev_lab1-sonarcloud" `
          /d:sonar.organization="kolankoudan-dev" `
          /d:sonar.token="${{ secrets.SONAR_TOKEN }}" `
          /d:sonar.exclusions=**/bin/**,**/obj/** `
          /d:sonar.qualitygate.wait=true
        shell: pwsh

      - name: Restore
        run: dotnet restore NetSdrClient.sln

      - name: Build
        run: dotnet build NetSdrClient.sln -c Release --no-restore

      - name: SonarScanner End
        run: dotnet sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
        shell: pwsh
